<!--
  Copyright (C) 2022-2023 Shadow Robot Company Ltd <software@shadowrobot.com>

  This program is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program; if not, write to the Free Software
  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA
-->

<launch>
  <node pkg="tf2_ros" type="static_transform_publisher" name="polhemus_world_tf_broadcaster"
  args="0 0 0.5 0 0 3.141592653589793 polhemus_world polhemus_base" />
</launch>
